.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    font-size: 18px;
    background-color:gray;
    padding: 5px;
    
}
.b{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     margin-left: 25px;
     margin-top: 25px;
}
.nav-list{
    list-style-type: none;
}
.li-item{
    display: inline-block;
    padding: 10px 10px;
    font-size: 23px;
    
}
.li-item:hover{
    box-shadow: 1px 2px 1px 2px black;
    height: 15px;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
}
.bt{
    height: 30px;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgba(143, 137, 137, 0.848);
    text-decoration: none;

}
.bt:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 2px 0px 2px  rgba(143, 137, 137, 0.848);
    transition: 0.35s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}

.a1{
    text-decoration: none;
    color: black;
}
.a1:hover{
    color: white;
}





















.container{
    background-color: white;
    height: 100%;
    width: 100%;
}

.main-card{
    background-color: whitesmoke ;
    height: 650px;
    width: 850px;
   margin-left: 300px;
   margin-right: 200px;
   margin-top: 100px;
   margin-bottom: 100px;
   box-shadow: 0px 2px 7px gray;
}

.card{
    display: flex;
}

.card1{
    border-radius: 20px;
    width: 350px;
   
    margin-top: 80px;
    margin-left: 50px;
}

.card2{
    border-radius: 20px;
    background-color: white;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px gray;
}

.img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 0px 2px 7px gray;
}

.txt{
    font-size: 40px;
    font-family: courgette;
    margin: 30px;
    margin-left: 100px;
}

.btn{
    height: 50px;
    width: 350px;
    background-color: whitesmoke;
    margin: 8px;
    border: none;
    margin-left: 18px;
    border-radius: 10px;
}



.submit{
    height: 50px;
    width: 120px;
    background-color: rgb(189,183,183);
    border: 5px solid black;
    box-shadow: 1px 1px 5px rgb(126, 117, 117);
    font-size: 20px;
    margin: 20px;
    margin-left: 150px;
    border-radius: 20px;
    color: black;
}

.submit:hover{
    background-color: gray;
    transition: 0.4s;
    color: black;
}

.bottom-card{
    height: 120px;
    width: 700px;
    background-color: rgb(170,168,168);
    margin-left: 75px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(87, 83, 83);
}

.bt-card{
    color: white;
    font-size: 15px;
    height: 50px;
    margin: 15px;
    margin-left: 40px;
}

.bt-txt{
    font-size: 18px;
    margin: 2px;
}

.text{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.image{
    height: 35px;
    margin: 2px;
}

.last-img{
    margin-top: 25px;
    height: 35px;
    margin-left: 50px;
    margin-right: 0px;
}

.last-txt{
    font-size: 18px;
    margin-right: 20px;
}

.lbt-card{
    color: white;
    font-size: 15px;
    height: 80px;
    margin: 15px;
    margin-left: 10px;
}




.f1{
    max-width:1170px;
    
    margin: auto;
    margin-top: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
ul{
     list-style: none;
}
.footer{
    background-color: rgb(15, 7, 45);
    padding: 20px;
    height: 250px;
}
.footer-col{
    width: 20%;
    padding: 5px;
}
.footer-col h4{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.footer-col ul li a{
    font-size: 20px;
    display: block;
    color: white;
    
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
    transition: 0.5s;
    color: orange;
}
.f-img{
    height: 25px;
    width: 25px;
    border-radius: 8px;
}
.f-img:hover{
    cursor: pointer;
    width: 30px;
    height: 30px;
}