.container {
    background-color: rgb(206, 204, 204);
    height: 480px;
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 6px 4px 6px 4px #808080;
    padding: 10px;
    border: 0.5px solid black;
}

.name {
    height: 70px;
    display: block;
    margin-bottom: 16px;

}

.name1 {
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 9px;
    display: block;
}

.name2 {
    font-weight: bold;
    display: block;
    font-size: 16px;
}

.box {
    height: 49px;
    width: 77%;
    margin-left: 25px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 24px;
    margin-top: 18px;
    font-family: cursive;
}

.box:hover {
    box-shadow: 0px 0px 4.5px 3px #808080;
    text-decoration: none;
    transition: 0.5s;

}

.btn {
    width: 75%;
    height: 42px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    border: 0.5px solid black;
    display: block;
    margin-bottom: 17px;
}

.btn:hover {
    background-color: rgb(174, 174, 225);
    cursor: pointer;
    transition: 0.5s;
}

.or {

    font-weight: bold;
    font-size: 21px;
    display: inline;
}

.account {
    font-weight: bold;
    font-size: 19px;
    margin-top: 28px;
    cursor: pointer;
    margin-bottom: 57px;
}
.account:hover{
    color: aqua;
}

.btn1 {
    width: 100%;
    height: 42px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: rgb(206, 204, 204);
    border-radius: 5px;
    border: 0.5px solid black;
    display: block;
    margin-bottom: 17px;

}

.btn1:hover {
    background-color: rgb(174, 174, 225);
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    font-size: 18px;
    background-color: gray;
    padding: 5px;
}

.b {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 25px;
    margin-top: 25px;
}

.nav-list {
    list-style-type: none;
}

.li-item {
    display: inline-block;
    padding: 10px 10px;
    font-size: 23px;

}

.li-item:hover {
    box-shadow: 1px 2px 1px 2px black;
    height: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
}

.bt {
    height: 30px;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgba(143, 137, 137, 0.848);
    text-decoration: none;

}

.bt:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 2px 0px 2px rgba(143, 137, 137, 0.848);
    transition: 0.35s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}


.b {
    font-size: 30px;
    text-align: center;
}
.footer{
background-color: rgb(15, 7, 45);
padding: 20px;
height: 250px;
}
.footer-col{
width: 20%;
padding: 5px;
}
.footer-col h4{
font-size: 20px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.footer-col ul li a{
font-size: 20px;
display: block;

}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 10px;
transition: 0.5s;
color: orange;
}
.f-img{
height: 25px;
width: 25px;
border-radius: 8px;
}
.f-img:hover{
cursor: pointer;
width: 30px;
height: 30px;
}
.f1{
max-width:1170px;

margin: auto;
margin-top: 20px;
}
.row{
display: flex;
flex-wrap: wrap;

}
ul{
list-style: none;
}
.btl{
    color: black;
}