<<<<<<< HEAD
body {
    background-image: url(./image/background\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.container {
    background-color:  rgb(206, 204, 204);
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: 900px;
    opacity: 60%;
    border-radius: 10px;
    float: center;
    margin-bottom: 10px;
    margin-top: 40px;
    border: 0.5px solid black;
}

.img {
    height: 69px;
    padding-top: 10px;


}

/*Email label*/
.lbl {
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-bottom: 8px;
    font-weight: lighter;
    font-family: georgia;

}

/*Input Container */
.box {
    height: 49px;
    width: 80%;
    margin-left: 25px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 24px;
    font-family: georgia;
}

.box:hover {
    box-shadow: 0px 0px 4.5px 3px #808080;
    text-decoration: none;
    transition: 0.5s;
}

.lgn {
    font-size: 50px;
    padding-top: 8px;
    margin-bottom: 9px;
    font-weight: bold;
    text-shadow: 6.5px 5.5px #ccc;
    display: block;
    font-family: georgia;

}


.box {
    height: 49px;
    width: 80%;
    margin-left: 25px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bolder;
    border-radius: 10px;
    margin-bottom: 24px;
    font-family: georgia;
=======
.l1{
>>>>>>> f9d3712b734c44d1379ac334896ac8d138943511
    
    height: 800px;
    border-radius: 25px;

}

.form-box{
    background-image: url('../images/loginbg.jpg');
    background-repeat: no-repeat;
    height: 700px;
    margin-right: 400px;
    margin-left: 450px;
    margin-top:50px;
    border-radius: 20px;
    border: 1px solid black;
    background-size: 1050px;

}
.login-form{
    display: inline-block;
    padding: 25px;
    margin-left: 50px;
}
label{
    margin-left: 50px;
    padding: 10px;
    margin-top: 20px;
}
.name{
    height: 30px;
    width:300px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
}
.email{
    height: 30px;
    width:300px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
}
.pass{
    height: 30px;
    width:300px;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 4px;
}


.terms {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 24px;
    

}
.rp{
    font-size: 15px;
}
.chk {
    cursor: pointer;
}
.box {
    height: 49px;
    width: 80%;
    margin-left: 70px;
    font-size: 16px;
    border: solid 1px black;
    opacity: 100%;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 24px;
    font-family: georgia;
}

.box:hover {
    box-shadow: 0px 0px 4.5px 3px #808080;
    text-decoration: none;
    transition: 0.5s;
}
.sgn {
    cursor: pointer;
}
.bg-color{
    background-color: orangered;
}

.lg{
    margin-left: 150px;
    
}
.signup{
    color: black;
 
}
.btnbox{
    border-radius: 20px;
    height: 50px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    background-color:  orangered;
    color: white ;
    box-shadow: 1px 1px 1px 1px black;
}
.btnbox:hover{
    cursor: pointer;
    transition: 0.5s;
    color: black;
    background-color: whitesmoke;
}
.lbl {
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-bottom: 8px;
    font-family: georgia;
    color: black;

}



@media screen and (min-width:600px) and (max-width:768px) {
    .l1{
    
        height: 800px;
        border-radius: 25px;
    }

    .l1{
    
        height: 800px;
        border-radius: 25px;
    }
    
    .form-box{
        background-image: url('../images/loginbg.jpg');
        background-repeat: no-repeat;
        height: 700px;
        margin-right: 400px;
        margin-left: 450px;
        margin-top:50px;
        border-radius: 20px;
        border: 1px solid black;
        background-size: 1050px;
    
    }
    .login-form{
        display: inline-block;
        padding: 25px;
        margin-left: 50px;
    }
    label{
        margin-left: 50px;
        padding: 10px;
        margin-top: 20px;
    }
    .name{
        height: 30px;
        width:300px;
        margin-left: 50px;
        font-size: 20px;
        border-radius: 10px;
        padding: 4px;
    }
    .email{
        height: 30px;
        width:300px;
        margin-left: 50px;
        font-size: 20px;
        border-radius: 10px;
        padding: 4px;
    }
    .pass{
        height: 30px;
        width:300px;
        margin-left: 50px;
        font-size: 20px;
        border-radius: 10px;
        padding: 4px;
    }
    
    
    .terms {
        display: block;
        font-weight: bold;
        font-size: 14px;
        padding-left: 40px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 24px;
        
    
    }
    .rp{
        font-size: 15px;
    }
    .chk {
        cursor: pointer;
    }
    .box {
        height: 49px;
        width: 80%;
        margin-left: 40px;
        font-size: 16px;
        border: solid 1px black;
        opacity: 100%;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 24px;
        font-family: georgia;
    }
    
    .box:hover {
        box-shadow: 0px 0px 4.5px 3px #808080;
        text-decoration: none;
        transition: 0.5s;
    }
    .sgn {
        cursor: pointer;
    }
    .bg-color{
        background-color: orangered;
    }
    
    .lg{
        margin-left: 70px;
        
    }
    .signup{
        color: black;
     
    }
    .btnbox{
        border-radius: 20px;
        height: 50px;
        width: 150px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 120px;
        background-color:  orangered;
        color: white ;
        box-shadow: 1px 1px 1px 1px black;
    }
    .btnbox:hover{
        cursor: pointer;
        transition: 0.5s;
        color: black;
        background-color: whitesmoke;
    }
    .lbl {
        font-size: 20px;
        padding: 10px;
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        font-family: georgia;
        color: black;
    
    }
}



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 80px;
    font-size: 18px;
    background-color: gray;
    padding: 5px;

}

.b {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 25px;
    margin-top: 25px;
}

.nav-list {
    list-style-type: none;
}

.li-item {
    display: inline-block;
    padding: 10px 10px;
    font-size: 23px;

}

.li-item:hover {
    box-shadow: 1px 2px 1px 2px black;
    height: 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
}

.bt {
    height: 30px;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgba(143, 137, 137, 0.848);
    text-decoration: none;

}

.bt:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 2px 0px 2px rgba(143, 137, 137, 0.848);
    transition: 0.35s;
    cursor: pointer;
}

.log {
    text-decoration: none;
    color: white;
}

.log:hover {
    color: black;
}




.a1{
    text-decoration: none;
    color: black;
}
.a1:hover{
    color: white;
}